$info_site_color: #EEEEEE;
$blue: #39C4F3;
$width_img_gallery: 150px;
$height_img_gallery: 150px;
$size_logo: 130px;
$categories_bg: white;
$grey: #E7E7E7;
@import url(https://fonts.googleapis.com/css?family=Raleway);
@import url(https://fonts.googleapis.com/css?family=Fjalla+One);
$typo_text: "Raleway";
$typo_titre: "Fjalla One";
a p {
    font-family: $typo_text;
    color: black;
    text-decoration: none;
}

h1 {
    font-family: $typo_titre;
}

.navbar {
    margin-bottom: 0;
    border-radius: 0px;
}

.logo_header {
    width: $size_logo;
}

#myCarousel {
    margin-top: 50px;
}

.carousel-caption {
    position: absolute;
    right: 15%;
    top: 15%;
    left: 15%;
    padding-top: 20px;
    padding-bottom: 20px;
    color: #fff;
    h1 {
        font-size: 5vw;
    }
}

.div_icons {
    border-bottom: solid 4px $info_site_color;
    border-spacing: 35px;
    img {
        height: 50px;
    }
    @media all and (max-width: 959px) and (min-width: 600px) {
        h1 {
            font-size: 4vw;
        }
        img {
            height: 40px;
        }
    }
    @media all and (max-width: 599px) and (min-width: 50px) {
        h1 {
            font-size: 5vw;
        }
        img {
            height: 30px;
        }
    }
}

.titre_hp {
    text-align: center;
}

.h1_hp {
    display: inline;
}

.img_flocon {
    margin-top: -20px;
    display: inline;
    width: 30px;
}

.img_board {
    margin-top: -20px;
    display: inline;
    width: 75px;
}

.img_fixation {
    margin-top: -20px;
    display: inline;
    width: 25px;
}

.img_blouson {
    margin-top: -20px;
    display: inline;
    width: 25px;
}

.img_gallery_hover {
    position: absolute;
    display: none;
}

.produits {
    padding-top: 70px;
    position: relative;
    h1 {
        text-align: center;
        color: $blue;
        padding-bottom: 20px;
    }
    div {
        padding-top: 30px;
    }
    div:hover .img_gallery_hover {
        position: absolute;
        display: inline-block;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border: 1px solid $blue;
        background-color: rgba(255, 255, 255, 0.5);
    }
}

.img_gallery {
    text-align: center;
    img {
        width: $width_img_gallery;
        height: $height_img_gallery;
    }
}

.categories {
    margin-top: 20px;
    padding-bottom: 50px;
}

.form-group {
    text-align: center;
    input {
        margin-left: auto;
        margin-right: auto;
    }
}

.form-control {
    width: 250px;
}

.info_site {
    color: white;
    background-color: $blue;
}

@media all and (max-width: 1200px) {
    iframe {
        margin-top: 10px;
    }
}

// footer
.footer {
    font-size: 10px;
    padding-right: 10px;
    // background-color: $blue;
}

.img_montagne {
    height: 50px;
}


/**  PRODUITS  */

$img_produit: 300px;
.info_produit {
    text-align: center;
    margin-top: 80px;
    margin-left: 5%;
    padding-bottom: 30px;
    border-bottom: 4px solid $info_site_color;
}

.col_left {
    img {
        height: $img_produit;
    }
}

.panier {
    padding: 10px;
    border-radius: 10px;
    width: 270px;
    background-color: $blue;
}

.border_grey {
    border: solid 4px $info_site_color;
    padding: 10px;
    padding-left: 20px;
    margin-bottom: 50px;
    span {
        font-size: 15px;
    }
}

.info_prix {
    border-radius: 5px;
    div {
        margin-top: 20px;
    }
}

.description {
    padding-top: 20px;
    margin-left: 10%;
}

.avantage {
    font-size: 18px;
    padding: 20px;
}

.blue {
    color: $blue;
}
